# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PhpProjects\dinhphv96.github.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
